@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fffffb;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-size: 3vw;
    position: absolute;
    align-items: center;
    padding: 30px;
    margin: 40px;
}

.flower-accent, .flower-accent2, .flower-accent3, .flower-accent3, .flower-accent4 {
    font-size: 3vw;
    font-family: 'Bretagne self modern web', sans-serif;
}

.flower-accent:hover {
    color: rgb(237, 64, 243);
}

.flower-accent2:hover {
    color: rgb(64, 64, 243);
}

.flower-accent3:hover {
    color: rgb(105, 222, 249);
}

.flower-accent4:hover {
    color: rgb(162, 81, 255);
}

.name:hover {
    color: rgb(199, 165, 238);
}

.thunder:hover {
    color: rgb(247, 78, 16);
}

.compute:hover {
    cursor: url('./assets/compute.png'), auto;
}

.code:hover {
    cursor: url('./assets/code.png'), auto;
}

.tech:hover {
    cursor: url('./assets/ai.png'), auto;
}

.checker:hover {
    cursor: url('./assets/checker.png'), auto;
}

.art:hover {
    cursor: url('./assets/art.png'), auto;
}

.design:hover {
    cursor: url('./assets/design.png'), auto;
}

.design2:hover {
    cursor: url('./assets/design2.png'), auto;
}

.tools:hover {
    cursor: url('./assets/tools.png'), auto;
}

.vegan:hover {
    cursor: url('./assets/vegan.png'), auto;
}

.read:hover {
    cursor: url('./assets/read.png'), auto;
}

.tea:hover {
    cursor: url('./assets/tea.png'), auto;
}

.confections:hover {
    cursor: url('./assets/macaron.png'), auto;
}

.wagashi:hover {
    cursor: url('./assets/dango.png'), auto;
}

.travel:hover {
    cursor: url('./assets/earth.png'), auto;
}

.nintendo:hover {
    cursor: url('./assets/switch.png'), auto;
}

#blog {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#blog:hover {
    text-decoration: none;
    color: rgb(244, 181, 254);
    font-weight: 500;
    cursor: url('./assets/thunder.png'), auto;
}

#portfolio {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#portfolio:hover {
    color:cornflowerblue;
    cursor: url('./assets/floppy.png'), auto;
}

#instagram {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#instagram:hover {
    color: rgb(50, 228, 19);
    cursor: url('./assets/camera.png'), auto;
}

#linkedin {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#linkedin:hover {
    color: rgb(85, 215, 255);
    cursor: url('./assets/linkedin.png'), auto;
}

#github {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#github:hover {
    color: rgb(132, 140, 227);
    cursor: url('./assets/github.png'), auto;
}

#dribbble {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#dribbble:hover {
    color: #000;
    color: rgb(227, 192, 132);
    cursor: url('./assets/dribbble.png'), auto;
}

#pinterest {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#pinterest:hover {
    color: #000;
    color: rgb(227, 132, 154);
    cursor: url('./assets/pin.png'), auto;
}

#email {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#email:hover {
    color: rgb(206, 132, 227);
    cursor: url('./assets/email.png'), auto;
}

@media (max-width: 440px) {
    body {
        padding: 0px;
        font-size: 16px;
    }
}